.LawThree-Four-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LawThree-Four-flex .LawThree-Four-Diagram {
    font-size: 300px;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 600px) {
    .LawThree-Four-Text {
        max-width: 465px;
    }
}

@media only screen and (min-width: 960px) {
    .LawThree-Four-flex {
        flex-direction: row;
    }

    .LawThree-Four-flex .LawThree-Four-Diagram {
        margin-bottom: 0;
        margin-right: 30px;
    }

    .LawThree-Four-Text {
        max-width: none;
    }
}

@media only screen and (min-width: 1280px) {
    .LawThree-Four-flex .LawThree-Four-Diagram {
        font-size: 334px;
        width: 334px;
        height: 334px;
    }
}