.LawThree-Four-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LawThree-Four-flex .LawThree-Four-Diagram {
    font-size: 334px;
    width: 334px;
    height: 334px;
    margin-right: 20px;
}

@media only screen and (min-width: 960px) {
    .LawThree-Four-flex {
        flex-direction: row;
    }
}