.PageText-Title {
    font-size: 28px;
}

.PageText-Content {
    font-size: 20px;
}

@media only screen and (min-width: 600px) {
    .PageText-Title {
        font-size: 35px;
    }

    .PageText-Content {
        font-size: 28px;
    }
}

@media only screen and (min-width: 960px) {
    .PageText-Title {
        font-size: 43px;
    }

    .PageText-Content {
        font-size: 35px;
    }
}