.Answer.Answer-Confirm-first-question6-English, .Answer.Answer-Confirm-first-question6-Korean {
    margin-top: 100px;
}

.Answer.Answer-Confirm-first-question6-English {
    max-width: 255px;
}

.Answer.Answer-Confirm-first-question6-Korean {
    max-width: 100px;
}

@media only screen and (min-width: 600px) {
    .Law-Confirm1-Question6-Korean {
        max-width: 448px;
    }
    
    .Law-Confirm1-Question6-English {
        max-width: 452px;
    }
}

@media only screen and (min-width: 1280px) {
    .Law-Confirm1-Question6-Korean {
        max-width: 561px;
    }

    .Law-Confirm1-Question6-English {
        max-width: 565px;
    }
}


