.Answer-Grace-three-question1-Korean {
    max-width: 217px;
}

.Answer-Grace-three-question1-English {
    max-width: 205px;
}

.Answer-Grace-three-question2-Korean {
    max-width: 306px;
}

.Answer-Grace-three-question2-English {
    max-width: 261px;
}