.DrawerMenu-IconButton.MuiIconButton-root {
    color: black;
}

.DrawerMenu-IconButton.MuiIconButton-root svg {
    width: 28px;
    height: 28px;
}

.DrawerMenu-List .MuiListSubheader-root, .DrawerMenu-List .MuiTypography-root { 
    font-size: 18px;
}

.DrawerMenu-List .MuiListSubheader-root a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}