.PageTitle {
    position: fixed;
    transition: none;
    top: 62px;
    background-color: transparent;
    transform: translate(calc(50vw - 50% - 16px), calc(50vh - 50% - 62px)) scale(2);
}

.PageTitle.PageTitle-Minimized {
    transition: all 400ms ease-out;
    transform: scale(1) translate(0, 0);
    background-color: white;
}

.PageTitle .PageTitle-Wrapper {
    display: flex;
    align-items: center;
    width: 50vw;
}

.PageTitle.PageTitle-Minimized .PageTitle-Wrapper {
    width: 90vw;
}

.PageTitle .PageText-Content {
    font-size: 10px;
}

.PageTitle .PageTitle-Icon {
    font-size: 70px;
    width: 70px;
    height: 70px;
    margin-right: 12px;
}

@media only screen and (min-width: 600px) {
    .PageTitle {
        top: 64px;
        transform: translate(calc(50vw - 50%), calc(50vh - 50% - 64px)) scale(2);
        justify-content: start;
    }

    .PageTitle.PageTitle-Minimized {
        transform: scale(1) translate(24px, 0);
    }

    .PageTitle .PageText-Content {
        font-size: 14px;
    }

    .PageTitle .PageTitle-Icon {
        width: 56px;
        height: 56px;
    }
}

@media only screen and (min-width: 1280px) {
    .PageTitle {
        left: 0;
    }

    .PageTitle .PageText-Content {
        font-size: 19px;
        line-height: 30px;
    }

    .PageTitle .PageTitle-Icon {
        font-size: 70px;
        width: 70px;
        height: 70px;
        margin-right: 12px;
    }
}