.PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
    max-width: 245px;
} 

.LawFour-Greet-Title {
    text-align: center;
}

.LawFour-Greet-Description {
    text-align: center;
}

.LawFour-Greet-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px -13px;
}

.LawFour-Greet-Description-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LawFour-Greet-Content {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.LawFour-Greet-Row {
    display: flex;
}

.LawFour-Greet-Sentence {
    margin-left: 8px;
    text-align: left;
}

.LawFour-Greet-Row > .Prefix-Span {
    margin-left: 6px;
    margin-right: 18.5px;
}

.LawFour-Greet-Row > .Prefix-Span-Korean {
    margin-left: 3px;
    margin-right: 8px;
}

.LawFour-Greet-flex .DiagramLink {
    padding: 13px;
    margin: 0 20px;
}

.LawFour-Greet-flex svg:not(.LawFour-Icon-Inline), .LawFour-Greet-Description-flex svg:not(.LawFour-Icon-Inline) {
    font-size: 200px;
    width: 200px;
    height: 200px;
}

svg.LawFour-Icon-Inline {
    font-size: 30px;
    width: 30px;
    height: 55px;
    margin-right: 7px;
}

.LawFour-SubTitle-MarginLeft {
    margin-left: unset;
}

@media only screen and (min-width: 600px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 514px;
    }

    .LawFour-Greet-flex {
        flex-direction: row;
        justify-content: center;
    }

    .LawFour-Greet-Content {
        max-width: 459px;
        margin-top: 30px;
    }

    svg.LawFour-Icon-Inline {
        height: 42px;
    }

    .LawFour-Greet-Row > .Prefix-Span-Korean {
        margin-right: 13px;
    }
}

@media only screen and (min-width: 960px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 676px;
    }

    .LawFour-Greet-Description-flex {
        flex-direction: row;
        justify-content: center;
    }

    .LawFour-Greet-Description {
        text-align: unset;
        max-width: 702px;
    }

    .LawFour-Greet-Content {
        max-width: unset;
        margin-top: 0;
        margin-left: 30px;
    }
    
    .LawFour-SubTitle-MarginLeft {
        margin-left: 234px;
    }

    .LawFour-Greet-flex .DiagramLink {
        margin: 0 30px;
    }
}

@media only screen and (min-width: 1280px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 870px;
    }

    .LawFour-Greet-Description {
        max-width: unset;
    }

    .LawFour-Greet-flex svg:not(.LawFour-Icon-Inline), .LawFour-Greet-Description-flex svg:not(.LawFour-Icon-Inline) {
        font-size: 250px;
        width: 250px;
        height: 250px;
    }

    .LawFour-SubTitle-MarginLeft {
        margin-left: 283px;
    }

    .LawFour-Greet-flex .DiagramLink {
        padding: 25px;
        margin: 0 30px;
    }

    svg.LawFour-Icon-Inline {
        height: 55px;
    }

    .LawFour-Greet-Row > .Prefix-Span {
        margin-left: 6px;
        margin-right: 16px;
    }

    .LawFour-Greet-Row > .Prefix-Span-Korean {
        margin-right: 8px;
    }
}