.PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
    max-width: 245px;
} 

.LawFour-Greet-Title {
    text-align: center;
}

.LawFour-Greet-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px -13px;
}

.LawFour-Greet-Content {
    display: flex;
    margin-left: 30px;

    flex-direction: column;
}

.LawFour-Greet-Row {
    display: flex;
}

.LawFour-Greet-Sentence {
    margin-left: 8px;
}

.LawFour-Greet-Column {
    display: flex;
    flex-direction: column;
}

.LawFour-Greet-Column.LawFour-Greet-Sentence {
    margin-left: 8px;
}

.LawFour-Greet-Row > .Prefix-Span {
    margin-left: 6px;
    margin-right: 16px;
}

.LawFour-Greet-Row > .Prefix-Span-Korean {
    margin-left: 3px;
    margin-right: 8px;
}

.LawFour-Greet-flex .DiagramLink {
    padding: 25px;
    margin: 30px;
}

.LawFour-Greet-flex svg {
    font-size: 250px;
    width: 250px;
    height: 250px;
}

svg.LawFour-Icon-Inline {
    font-size: 30px;
    width: 30px;
    height: 54px;
    margin-right: 7px;
}

.LawFour-MarginLeft-272 {
    margin-left: 272px;
}

@media only screen and (min-width: 600px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 335px;
    }
}

@media only screen and (min-width: 1280px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 870px;
    }

    .LawFour-Greet-flex {
        flex-direction: row;
        justify-content: center;
    }
}