.LawFour-PageContent {
    margin: auto;
}

.LawFour-PageContent .LawFour-Content .LawFour-SubTitle {
    margin-bottom: 0.75em;
    display: inline-block;
    border-bottom: 3px solid black;
}

.PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
    max-width: 245px;
} 

@media only screen and (min-width: 600px) {
    .LawFour-PageContent {
        margin: auto 43px;
    }

    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 335px;
    }
}

@media only screen and (min-width: 960px) {
    .PageTitle.LawFour-PageTitle .PageTitle-Wrapper {
        max-width: 415px;
    }
}