.Answer-Grace-two-question1-Korean, .Answer-Grace-two-question1-English {
    max-width: 217px;
}

.Answer-Grace-two-question2-Korean {
    max-width: 255px;
}

.Answer-Grace-two-question2-English {
    max-width: 190px;
}

.Law-Grace2-Colossians213 {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px) {
    .Law-Grace2-Colossians114 {
        max-width: 331px;
    }

    .Law-Grace2-Q1-Korean {
        max-width: 327px;
    }

    .Law-Grace2-Colossians213 {
        max-width: 447px;
    }
}

@media only screen and (min-width: 960px) {
    .Law-Grace2-Colossians114 {
        max-width: unset;
    }

    .Law-Grace2-Colossians213 {
        max-width: 580px;
    }
}

@media only screen and (min-width: 1280px) {
    .Law-Grace2-Q1-Korean {
        max-width: 388px;
    }

    .Law-Grace2-Colossians213 {
        max-width: 748px;
    }
}