.Answer-Grace-two-question1-Korean, .Answer-Grace-two-question1-English {
    max-width: 217px;
}

.Answer-Grace-two-question2-Korean {
    max-width: 255px;
}

.Answer-Grace-two-question2-English {
    max-width: 190px;
}