.Law-PageContent {
    margin: auto;
}

.Law-PageContent .Law-SubTitle {
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 3px solid black;
    line-height: 40px;
}

.Law-PageContent .Law-Sentence-Margin {
    margin-bottom: 30px;
}

.Law-PageContent .Law-Sentence-Bold {
    font-weight: bold;
}

.Law-PageContent .Law-Sentence-Center {
    text-align: center;
}

.PageTitle.Law-PageTitle .PageText-Content {
    font-weight: bold;
}

.PageText-Content.Law-LongSentence {
    max-width: 751px;
}

.Law-Question {
    display: flex;
    flex-direction: column;
}

.Law-Question-Below-words {
    max-width: 591px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: bold;
}

.Law-Question-Below-words.No-maxwidth {
    max-width: none;
}

.Law-Question-Answer {
    display: flex;
    justify-content: space-between;
    margin: 100px -50px 0;
}

.Law-Question-Answer-Single {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.Law-Question-Answer-Single.Below-words {
    margin-top: 50px;
}

.Law-Question-Answer .BottomNavigation, .Law-Question-Answer-Single, .Law-Button {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    box-shadow: 0 15px 5px -10px #fee0ce;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Law-Button {
    outline: 0;
    border: none;
    background: none;
    font: inherit;
}

.Law-Question-Answer .PageText, .Law-Question-Answer-Single .PageText, .Law-Button .PageText {
    line-height: 45px;
}

.Law-Question-Answer .BottomNavigation {
    position: relative;
    left: 0;
    bottom: 0;
}

.Law-Question-Answer-Animated {
    margin: 0 auto;
    margin-top: 50px;
}

.Law-Text-Highlight {
    background-color: #fee0ce;
}

.Law-Title-Animated.PageText {
    position: absolute;
    left: 0;
    top: 101px;
    transform: translateY(calc(50vh - 50% - 101px));
    width: 100%;
    z-index: -1;
}

.Law-Title-Animated.Law-Title-Animated-content > div {
    transition: all 400ms ease-out;
}

.Law-Title-Animated .Law-Title-Animated-line-one {
    transform: translateY(0);
}

.Law-Title-Animated .Law-Title-Animated-line-two {
    opacity: 1;
}

.Law-Title-Animated.Law-Title-Animated-content .Law-Title-Animated-line-one {
    transform: scale(0.6) translateY(calc((54.5px + 50% - 50vh + 110px) / 0.6));
}

.Law-Title-Animated.Law-Title-Animated-content .Law-Title-Animated-line-two {
    opacity: 0;
}

.Law-Dialog-Title {
    position: absolute;
    left: 0;
    top: 20px;
    transform: translate(calc(40vw - 50%), calc(40vh - 50% - 20px));
    max-width: 771px;
    width: 771px;
} 

.Law-Dialog-Title.Law-Dialog-Title-Minimized {
    transition: all 400ms ease-out;
    transform: scale(0.6) translate(calc((40vw - 50%) / 0.6), 0);
}