.FourLaws > * {
    margin-bottom: 10px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font20 {
    font-size: 20px;

}

.font30 {
    font-size: 30px;
}