.Answer.Answer-Confirm-first1-English, .Answer.Answer-Confirm-first1-Korean {
    margin-top: 100px;
}

.Answer.Answer-Confirm-first1-English {
    max-width: 255px;
}

.Answer.Answer-Confirm-first1-Korean {
    max-width: 100px;
}