.LawFour-Greet-One-flex, .LawFour-Greet-One-Content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LawFour-Greet-One-flex > * {
    flex: 1;
}

.LawFour-Greet-One-flex .LawFour-Greet-One-Icon {
    width: 200px;
    height: 200px;
}

/* @media only screen and (min-width: 600px) {
    .PageTitle.LawOne-PageTitle .PageText-Content {
        max-width: 465px;
        min-width: 465px;
    }
} */

@media only screen and (min-width: 960px) {
    .LawFour-Greet-One-flex {
        flex-direction: row;
    }
}