.DiagramLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20%;
    box-shadow: 0 10px 15px 0 rgba(147, 107, 59, 0.2);
}