.Grace-Title.PageText {
    position: absolute;
    left: 0;
    top: 101px;
    transform: translateY(calc(50vh - 50% - 101px));
    width: 100%;
    z-index: -1;
}

.Grace-Title.Grace-Title-content > div {
    transition: all 400ms ease-out;
}

.Grace-Title .Grace-Title-line-one {
    transform: translateY(0);
}

.Grace-Title .Grace-Title-line-two {
    opacity: 1;
}

.Grace-Title.Grace-Title-content .Grace-Title-line-one {
    transform: scale(0.6) translateY(calc(-50vh + 101px));
}

.Grace-Title.Grace-Title-content .Grace-Title-line-two {
    opacity: 0;
}


.Grace-Dialog-Title {
    position: absolute;
    left: 0;
    top: 20px;
    transform: translate(calc(40vw - 50%), calc(40vh - 50% - 20px));
    max-width: 771px;
    width: 771px;
} 

.Grace-Dialog-Title.Grace-Dialog-Title-Minimized {
    transition: all 400ms ease-out;
    transform: scale(0.6) translate(calc(40vw - 40%), 0);
}