.PageContainer .PageContainer-Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 146px 0;
    height: calc(100vh - 292px);
}

@media only screen and (min-width: 1280px) {
    .MuiContainer-root.PageContainer {
        max-width: 1026px;
    }
} 