.FourLawsMain-PageText {
    z-index: 2001;
}

.MuiSvgIcon-root.Main-WaterColorIcon {
    font-size: 350px;
    width: 350px;
    height: 350px;
    z-index: 2000;
    left: -25px;
    position: absolute;
    top: 0;
    transform: translate(0, calc(50vh - 50%));
}

.MuiSvgIcon-root.Main-WaterColorIcon.Main-WaterColorIcon-Top {
    /** X-axis Calculation
     * PageContainer MaxWidth: 900px
     * PageContainer Left,Right Padding: 24px each
     * WaterColorIcon size: 350px
     * Result: 900px - (24px * 2) - 350px = 502px
     * 
     * Y-axis Calculation
     * Center and additional bottom-shift (12px)
     **/
    transform: translate(502px, calc(50vh - 50% + 12px));
    transition: all 400ms ease-out;
}