.FourLawsMain-Wrapup-Korean, .FourLawsMain-Wrapup-English {
    margin: auto;
    text-align: center;
    font-weight: bold;
    max-width: 350px;
}

@media only screen and (min-width: 600px) {
    .FourLawsMain-Wrapup-Korean {
        max-width: 446px;
    }

    .FourLawsMain-Wrapup-English {
        max-width: 468px;
    }
}

@media only screen and (min-width: 1280px) {
    .FourLawsMain-Wrapup-Korean, .FourLawsMain-Wrapup-English {
        max-width: 667px;
    }
}